// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.button {
  background-color: #666666;
  border-radius: 5px;
  border: 1px solid orange;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Helvetica;
  font-size: 10px;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: orange;
    color: #fff;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
